*{
    font-family: sans-serif;
}

footer{
  height: 50px;
}
.text{
   max-width: 500px;
   margin: auto;
   background-color: green;
}
body{
    background-image: url('/img/backend.jpg');
}
.parallax {
    background-image: url('/img/background.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
th,td{
    border: 1px solid black;
    border-spacing: 3px;
    padding: 3px;
    }


